<%- include('layout/header')  %> 

<div>
    <div class = "row my-4">
       <div class = "col-lg-12">
        <% if (message) { %> 
            <div class = "alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
               <button class = "btn-close" type = "button" data-bs-dismiss = "alert" aria-label="Close"></button> 
            <strong><%= message.message %></strong>
            </div>
        <% } %>  
        <div class="table-responsive">
            <% if (adminGds != '') { %>
                <table class="table table-striped text-center">
                    <thead>
                        <tr class = "table-dark">
                          
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Qualifications</th>
                            <th>First Project Pic</th>
                            <th>FirstProjectDesc</th>
                            <th>Second Project Pic</th>
                            <th>SecondProjectDesc</th>
                            <th>Third Project Pic</th>
                            <th>ThirdProjectDesc</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% adminGds.forEach((row, index) => { %>
                            <tr>
                      
                                <td><%= row._id %></td>
                                <td><img src = "<%= row.ProfilePic %>" width = "50" class ="img-thumbnail"/></td>
                                <td><%= row.Name %></td>
                                <td><%= row.Email %></td>
                                <td><%= row.Phone %></td>
                                <td><%= row.Qualifications %></td>
                                <td><img src = "<%= row.FirstProjectPic %>" width = "50" class ="img-thumbnail"/></td>
                                <td><%= row.FirstProjectDesc %></td>
                                <td><img src = "<%= row.SecondProjectPic %>" width = "50" class ="img-thumbnail"/></td>
                                <td><%= row.SecondProjectDesc %></td>
                                <td><img src = "<%= row.ThirdProjectPic %>" width = "50" class ="img-thumbnail"/></td>
                                <td><%= row.ThirdProjectDesc %></td>

                                <td>
                                    <a href = "/editAdminGD/<%= row._id %>" class = "text-success"><i class = "fas fa-edit fa-lg mx-1"></i></a>
                                    <a href = "/deleteAdminGD/<%= row._id %>" class = "text-success"><i class = "fas fa-trash fa-lg mx-1"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <h1 class = "text-center text-secondary mt-5">No Garden Designers Found</h1>
            <% } %> 
        </div>
       </div>
    </div>
</div>

<%- include('layout/footer')  %>