<%- include('layout/header')%>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="container">Edit Users (<%= data.architect %>)</h3>

            <form action="/update_architect/<%= data._id %>" method="post" id="ädd-form" enctype="multipart/form-data">
              <div class="form-group">
                <label for="architect"> Architect</label>
                <input type="text" class="form-control" name="architect" placeholder="architect" value="<%= data.architect%>">
              </div>

                <div class="form-group">
                  <label for="mobile">mobile</label>
                  <input type="mobile" class="form-control" name="mobile" aria-describedby="mobile" placeholder="mobile" value="<%= data.mobile %>">
                  
                </div>
   
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" name="email" placeholder="email" value="<%= data.email%>">
                  </div>
                  <div class="form-group">
                    <label for="qualifications"> qualifications</label>
                    <input type="qualifications" class="form-control" name="qualifications" placeholder="qualifications" value="<%= data.qualifications%>">
                  </div>
                  <div class="form-group">
                    <label for="profile_pic"> profile_pic</label>
                    <input type="file" class="form-control" name="profile_pic" placeholder="Select Image" >
                    <img src="/<%= data.profile_pic %>" width="100" class="thumbnail mt-1"/>
                    <input type="hidden" class="form-control" name="old_profile_pic" value="<%= data.profile_pic %>" >
                  </div>

                  <div class="form-group">
                    <label for="project01_img"> project01_img</label>
                    <input type="file" class="form-control" name="project01_img" placeholder="Select Image">
                    <img src="/<%= data.project01_img %>" width="100" class="thumbnail mt-1"/>
                    <input type="hidden" class="form-control" name="old_project01_img" value="<%= data.project01_img %>" >
                  </div>
                   
                  <div class="form-group">
                    <label for="project01_disc">project01_disc</label>
                    <input type="project01_disc" class="form-control"  name="project01_disc" placeholder="project01_disc"  value="<%= data.project01_disc %>">
                  </div>

                  <div class="form-group">
                    <label for="project02_img">project02_img</label>
                    <input type="file" class="form-control" name="project02_img" placeholder="Select Image">
                    <img src="/<%= data.project02_img %>" width="100" class="thumbnail mt-1"/>
                    <input type="hidden" class="form-control" name="old_project02_img" value="<%= data.project02_img %>" >
                  </div>
                          
                  <div class="form-group">
                    <label for="project02_disc">project02_disc</label>
                    <input type="project02_disc" class="form-control" name="project02_disc" placeholder="project02_disc" value="<%= data.project02_disc %>">
                  </div>

                  <div class="form-group">
                    <label for="project03_img">project03_img</label>
                    <input type="file" class="form-control" name="project03_img" placeholder="Select Image">
                    <img src="/<%= data.project03_img %>" width="100" class="thumbnail mt-1"/>
                    <input type="hidden" class="form-control" name="old_project03_img" value="<%= data.project03_img %>" >
                  </div>
                          
                  <div class="form-group">
                    <label for="project03_disc">project03_disc</label>
                    <input type="project03_disc" class="form-control" name="project03_disc" placeholder="project03_disc" value="<%= data.project03_disc %>">
                  </div>

                  
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
      

      <%- include('layout/footer')%> 